* {
    box-sizing: border-box;
}
  
body {
    font-family: 'Righteous', cursive;
    background-color: rgb(23, 38, 47);
    color: white;
}

a:link {
    color: pink;
}

.url-bookmark {
    color: pink;
}

a:visited {
    color: rgb(104, 128, 48);
}

a:hover {
    color: rgb(101, 194, 191);
}

a:active {
    color: green;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
}
  
.list-title {
    border-top: 1px dashed #18ab29;
    margin-top: 10px;
    padding-top: 5px;
}

.list-link {
    text-decoration: none;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto;
}

.bookmark-list {
    border: 1px solid #18ab29;
    border-radius: 3px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 35%;
}

@media all and (max-width: 750px) {
    .bookmark-list {
        width: 75%;
    }
    .stars-fieldest {
        width: 75%;
    }
}

button {
	-moz-box-shadow: 0px 10px 12px -9px #d2dbd0;
	-webkit-box-shadow: 0px 10px 12px -9px #d2dbd0;
	box-shadow: 0px 10px 12px -11px #18ab29;
	background-color:transparent;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font: weight 600;
	padding:6px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    margin: 5px;
}

fieldset {
    border:1px solid #18ab29;
    margin: 10px 0;
}

input {
    margin: 5px;
}

.stars-fieldest {
    border:1px solid #18ab29;
    margin: 10px 0;
    width: 75%;
    margin: 10px auto;
}
.star-number {
    border: 1px solid #c8e03d;
    width: 60%;
    margin: 10px auto;
    padding: 5px;
    white-space: nowrap;
}

.header-select {
    border: 1px solid #c8e03d;
    background-color: rgb(23, 38, 47);
    color: white;
}

button:hover {
    background-color: black;
}

#js-create-bookmark-form {
    display: flex; 
    justify-content: center;
}

#js-filter-bookmark-form {
    display: flex; 
    justify-content: center;
    text-align: center;
}